.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.account-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setting-icon {
  width: 20px;
  cursor: pointer;
}

.setting-box {
  display: flex;
  align-items: center;
}

.back-icon {
  width: 20px;
  cursor: pointer;
}

.setting-header-text {
  color: var(--primary-color);
  padding-left: 8px;
}

.account-navbar {
  display: flex;
  justify-content: space-between;
}

.account-balance-box {
  display: flex;
}

.account-balance-text {
  color: var(--primary-color);
}